mySelfie.sql
credenzialiDB.png
context.xml
/build/
/WebContent/protected/resources/images/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject



