@import url("/mySelfie/resources/css/fileInput/fileinput.css");

.SUtxtbox
{
	position: relative;
	top: 0px;
	left: 14px;
	width: 252px;
	height: 30px;
}

#signupbtn
{
	border:0px solid;
	background-color: #00344F;
	color: #D8D8D8;
	border-radius: 4px 4px 4px 4px;
}
#signupbtn:hover
{
	-webkit-box-shadow: 0px 1px 7px 0px rgba(0, 51, 79, 0.75);
	-moz-box-shadow:    0px 1px 7px 0px rgba(0, 51, 79, 0.75);
	-o-box-shadow:      0px 1px 7px 0px rgba(0, 51, 79, 0.75);
	box-shadow:         0px 1px 7px 0px rgba(0, 51, 79, 0.75);	
}

#signup_form_container
{
	overflow-y: scroll;
}

.file-preview-frame
{
	
	height: 10%;
}

.alert {
	padding: 2px 35px 2px 14px;
  	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  	background-color: #fcf8e3;
  	border: 1px solid #fbeed5;
  	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
  	border-radius: 0px 0px 4px 4px;
  	color: #c09853;
  	width: 251px;
}

.alert-success {
 	background-color: #dff0d8;
  	border-color: #d6e9c6;
  	color: #468847;
}
.alert-danger,
.alert-error {
  	background-color: #f2dede;
  	border-color: #eed3d7;
  	color: #b94a48;
}
.alert-info {
  	background-color: #d9edf7;
  	border-color: #bce8f1;
  	color: #3a87ad;
}
