#leftMenuBG
{
	position: fixed; 
	left: -1px;
	top: 50px;
	float: left; 

	width: 125px; 
	height: 100%; 

	border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: #999;
    
    background-color: #E8E8E8;
    
    z-index: 100;
}

		


#leftMenu
{
	position: fixed; 
	left: -1px;
	top: 100px;

	width: 125px; 

	list-style-type: none;
    padding: 0px;
    margin: 0px;
    
    
    z-index: 110;
}


.tab
{
	padding: 3px 0px 2px 40px;
	cursor: pointer;	
	color: #333;
	font-size: 15px;
}

.seltab
{
	color: #005782;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(216,216,216,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(216,216,216,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(216,216,216,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(216,216,216,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(216,216,216,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(216,216,216,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#d8d8d8',GradientType=1 ); /* IE6-9 */
}

.lma:hover,
.tab:hover
{
	text-decoration:none;
	color: #0087C9;
}

.lmhr
{
	border: 0; 
	height: 1px; 
	margin: 0px;
	background-image: linear-gradient(to right, rgba(153, 153, 153, 0), rgba(153, 153, 153, 0.75), rgba(153, 153, 153, 1));
}
