.ntfctn
{
	font-size: 18px;
	color: #00344f;
}


.notyphication
{
	color: #D68B00;
	position: relative;
	top: -3px;
	font-size: 25px;
	cursor: default;
}

.seenotyphication
{
	position: relative;
	top: -3px;
	font-size: 25px;
	cursor: default;
	
	color: #d8d8d8;
	text-shadow: 1px 0px 0px rgba(214, 139, 0, 1), 0px 1px 0px rgba(214, 139, 0, 1), 0px -1px 0px rgba(214, 139, 0, 1), -1px 0px 0px rgba(214, 139, 0, 1);

	//color: #ccc;
	//text-shadow: 1px 0px 0px rgba(110, 110, 110, 1);

}

#hrNotifications
{
	 border: 0; 
	 height: 1px; 
	 background-image: linear-gradient(to right, rgba(214, 139, 0, 0), rgba(214, 139, 0, 1), rgba(214, 139, 0, 0));
	 position: relative;
	 left: 30px;
	 top: 50px;
	 width: 750px;
}

.profileThumbnail
{
	position: relative;
	top: -3px;
	width: 30px;
	height: 30px;
	margin-left: 5px;
	border-radius: 50%;
	cursor: pointer;
}

.notificationThumbnail
{
	position: relative;
	top: -3px;
	width: 30px;
	height: 30px;
	margin-left: 5px;
	border-radius: 1px;
	cursor: pointer;
}

.modal-backdrop
{
    opacity:0.75 !important;
}
.modal-dialog
{
	position: relative;
	left: -150px;
	top: 25px;
}



#newNotificationsTable,
#oldNotificationsTable
{
	width: 750px;
	position: relative;
	top: 50px;
	left: 225px;
	border-collapse: collapse;
}
.typeTD
{
	width: 40px;
	padding-bottom: 5px;
}
.thumbnailTD
{
	width: 30px;
	padding-bottom: 5px;
}
.textTD
{
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
}

.notificationsTR:hover
{
	background: rgb(216,216,216); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(216,216,216,1) 0%, rgba(201,201,201,1) 50%, rgba(216,216,216,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(216,216,216,1)), color-stop(50%,rgba(201,201,201,1)), color-stop(100%,rgba(216,216,216,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(216,216,216,1) 0%,rgba(201,201,201,1) 50%,rgba(216,216,216,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(216,216,216,1) 0%,rgba(201,201,201,1) 50%,rgba(216,216,216,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(216,216,216,1) 0%,rgba(201,201,201,1) 50%,rgba(216,216,216,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(216,216,216,1) 0%,rgba(201,201,201,1) 50%,rgba(216,216,216,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#d8d8d8',GradientType=1 ); /* IE6-9 */

}
