#oldNotifications,
#newNotifications
{
	position: relative;
	top: 50px;
	left: 125px;
	
	list-style-type: none;
    padding: 0px;
    margin: 0px;
    
}

.ntfctn
{
	font-size: 18px;
	color: #00344f;
}


.notyphication
{
	color: #D68B00;
	margin-right: 10px;
	position: relative;
	top: 2px;
}

.seenotyphication
{
	margin-right: 10px;
	position: relative;
	top: 2px;
	color: #d8d8d8;
	text-shadow: 1px 0px 0px rgba(214, 139, 0, 1), 0px 1px 0px rgba(214, 139, 0, 1), 0px -1px 0px rgba(214, 139, 0, 1), -1px 0px 0px rgba(214, 139, 0, 1);

	//color: #ccc;
	//text-shadow: 1px 0px 0px rgba(110, 110, 110, 1);

}

#hrNotifications
{
	 border: 0; 
	 height: 1px; 
	 background-image: linear-gradient(to right, rgba(153, 153, 153, 0), rgba(153, 153, 153, 1), rgba(153, 153, 153, 0));
	 position: relative;
	 top: 50px;
	 left: 75px;
}

.notificationThumbnail
{
	position: relative;
	top: -3px;
	width: 20px;
	height: 20px;
	margin-left: 5px;
	border-radius: 50%;
	cursor: pointer;
}

.modal-backdrop
{
    opacity:0.75 !important;
}
.modal-dialog
{
	position: relative;
	left: -150px;
	top: 25px;
}