#qcq
{
	position: absolute;
	top: 100px;
	left: 575px;
	color: #005782;
	font-size: 60px;
}

#pnf
{	
	position: absolute;
	top: 165px;
	left: 525px;
	color: #005782;
	font-size: 25px;
}

#pnfimg
{
	position: absolute;
	left: 250px;
	width: 200px;
	
}