.post_container
{
	position: relative;
	width: 1000px;
	height: auto;
	border-collapse: separate;
	border-spacing: 5px 0px;
	margin-bottom: 100px;
}



.user_pic
{
	width: 700px;
	height: 50px;
	border-radius: 3px 0 0 0;

	background: -moz-linear-gradient(left,  rgba(232,232,232,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(232,232,232,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(232,232,232,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(232,232,232,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(232,232,232,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */

}



.profile_pic
{
	position: relative;
	float: left;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 50%;
	background-size: 40px 40px;
	margin-left: 5px;
}

.profile_name
{
	position: relative;
	float: left;
	color: #00344F;
	margin-top: 10px;
	margin-left: 10px;
	cursor: pointer;
	max-width: 240px;
}



.selfie_container
{
	height: auto;
	border: 0px green solid;
	-webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 1px 0px rgba(50, 50, 50, 0.75);
	-o-box-shadow:      0px 0px 1px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 1px 0px rgba(50, 50, 50, 0.75);	
}

.selfie
{
	width: 100%;
	height: auto;	
}

.selfie_tools
{
	position: absolute;
	bottom: 0px;
	height: 50px;	
	width:  700px;
	z-index: 10;

}


.hOn, .hOff
{
	position: relative;
	float: left;
	font-size: 45px;
	margin-left: 15px;
	cursor: pointer;
}
.hOff
{
	color: #FFF;
	opacity: 0.75;
}
.hOn
{
	color: #C40000;
	text-shadow: 0px 0px 7px #C40000;
	opacity: 0.75;
}

.hOn:hover,
.hOff:hover
{
	text-shadow: 0px 0px 10px #FF0000;
}


.comments_container
{
	background-color: #c7c7c7;

	-webkit-box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 1px 0px rgba(50, 50, 50, 0.75);
	-o-box-shadow:      0px 0px 1px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 1px 0px rgba(50, 50, 50, 0.75);	
}


.comment_sections
{
	position: relative;
	top: 0px;
	width: 280px;
	max-height: 200px;
	
	overflow-y: auto;
	word-wrap: break-word;
		

	margin: 5px 0px 5px 5px;
	border-radius: 4px 0px 0px 4px;
	border-width: 1px 0px 1px 1px;
	border-style: solid;
	border-color: #999;
	
}

.comment_section_notes,
.comment_section_hashtags,
.comment_section_tags
{
	padding: 7px;
}

.tag_link
{
	color: #00344f;

}
.hashtag_link:hover,
.tag_link:hover
{
	text-decoration: none; 
}

.tag
{
	display: inline;
}

.with
{
	display: inline;
	color: #7a7a7a;
}


.comment_input
{
	position: absolute;
	bottom: 0px;	
	margin: 5px;
}
.comment_textbox
{
	height: 30px;
	width: 245px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 15px;
	border: 1px #aaa solid;
	border-radius: 4px 0px 0px 4px;
}
.comment_btn
{
	height: 30px;
	border: 1px #aaa solid;
	border-left-width: 0px;
	border-radius: 0px 4px 4px 0px;	
	color: #005782;
	float: right;
}


.comments
{
	position: relative;
	top: 0px;
	overflow-y: auto;

	

}
.comment_list
{
	list-style-type: none;	
	margin: 0px;
  	padding: 5px;
}

.profile_pic_comment
{
	position: relative;
	float: left;
	width: 35px;
	height: 35px;
	background-repeat: no-repeat;
	background-position: 50%;
	border-radius: 50%;
	background-size: 35px 35px;
	margin-left: 5px;
}

.profile_name_comment
{
	position: relative;
	color: #00344F;
	margin-top: 3px;
	margin-left: 10px;
	cursor: pointer;
	max-width: 210px;
	word-wrap: break-word;
}

.profile_name_comment:hover
{
	color: #005782;	
}


.comment_container
{
	padding-left: 50px;
	margin-bottom: 10px;
	word-wrap: break-word;
	max-width: 270px;
}



.comment_wrapper
{
	overflow: auto;
}

.nlikes
{
	position: absolute;
	top: 25px;
	right: 10px;
	font-size: 12px;
	color: #CCC;
	text-shadow: 0px 0px 7px #C40000;
}


