@import url("/mySelfie/resources/css/datePicker/bootstrap-datepicker.css");
@import url("/mySelfie/resources/css/fileInput/fileinput.css");

#modifyProfile
{
	position: relative;
	top: 1%;
	left: 1%;
	width: 25%;
	height: auto;
	border: 1px #aaa solid;
	border-radius: 4px 4px 4px 4px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 25px 25px 25px 25px;
		
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    inset 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
	-o-box-shadow:      inset 0px 0px 10px 0px rgba(50, 50, 50, 0.5);	
	box-shadow:         inset 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
}

#my-datepicker
{
	margin-top: 8px;
	font-size:12px;
}

#modifyBtn
{
	border:0px solid;
	background-color: #00344F;
	color: #D8D8D8;
	border-radius: 4px 4px 4px 4px;
}
#modifyBtn:hover
{
	-webkit-box-shadow: 0px 1px 7px 0px rgba(0, 51, 79, 0.75);
	-moz-box-shadow:    0px 1px 7px 0px rgba(0, 51, 79, 0.75);
	-o-box-shadow:      0px 1px 7px 0px rgba(0, 51, 79, 0.75);
	box-shadow:         0px 1px 7px 0px rgba(0, 51, 79, 0.75);	
}