@import url("/mySelfie/resources/css/datePicker/bootstrap-datepicker.css");
@import url("/mySelfie/resources/css/fileInput/fileinput.css");

#modifyProfile
{
	position: relative;
	top: 1%;
	left: 1%;
	width: 25%;
	height: auto;
	border: 1px #aaa solid;
	border-radius: 4px 4px 4px 4px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 25px 25px 25px 25px;
		
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    inset 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
	-o-box-shadow:      inset 0px 0px 10px 0px rgba(50, 50, 50, 0.5);	
	box-shadow:         inset 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
}

#my-datepicker
{
	margin-top: 8px;
	font-size:12px;
}

#modifyBtn
{
	border:0px solid;
	background-color: #00344F;
	color: #D8D8D8;
	border-radius: 4px 4px 4px 4px;
}
#modifyBtn:hover
{
	-webkit-box-shadow: 0px 1px 7px 0px rgba(0, 51, 79, 0.75);
	-moz-box-shadow:    0px 1px 7px 0px rgba(0, 51, 79, 0.75);
	-o-box-shadow:      0px 1px 7px 0px rgba(0, 51, 79, 0.75);
	box-shadow:         0px 1px 7px 0px rgba(0, 51, 79, 0.75);	
}



#postsContainer
{
	width: 1000px;
}

.postContainer
{
	width: 195px;
	height: 195px;
	float: left;
	margin: 0 5px 5px 0;
	overflow: hidden;
	
	transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
}


.postContainer:hover
{
    transform:scale(1.025);
	-webkit-transition:scale(1.025);
    -moz-transition:scale(1.025);
    -o-transition:scale(1.025);
    -ms-transition:scale(1.025);
    
}

.thumbnailL,
.thumbnailP
{
	cursor: pointer;	
}

.thumbnailL
{
	height: 195px;
}
.thumbnailP
{
	width: 195px;
}



.empty_label
{
	color: #d9d9d9;
	font-size: 25px;
	text-shadow: rgba(255, 255, 255, 0.2) -1px -1px 1px, rgba(0, 0, 0, 0.5) 1px 1px 1px;
}



.shadow
{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	padding-top: 100px;
	padding-left: 110px;
	overflow: auto;
	

}