#upHeader
{
	color: #00344F;
	font-size: 18px;
	position: relative;
	left: 75px;
}

#sampleFileContainer
{
	padding: 0px;	
}

#description
{
	resize: none;
	width: 350px;	
}

#hashtags,
#usertags
{
	width: 350px;	
}

#uploadedIMG
{
	width: 750px;
}

#unploadTable
{
	border-collapse: collapse;
	position: relative;
	left: 75px;
}

#fileInputTH
{
	padding-bottom: 20px;
}

#notesTD
{
	position: relative;
	top: 0px;
	padding-left: 15px;
}

#notesContainer
{
	position: absolute;
	top: 0px;
}

#notesContainer
{
	display: none;
}

#cropBtn
{
	position: relative;
	float: right;
	display: none;
	padding-left: 25px;
	padding-right: 25px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	
}

#cropbox
{
	width: 100%;
}

#cheeseBtn
{
	margin-top: 20px;	
	padding-left: 35px;
	padding-right: 35px;
	background-color: #005782;
	border-color: #00344f;
}

#cheeseBtn:hover
{
	-webkit-box-shadow: 0px 1px 7px 0px rgba(0, 51, 79, 0.75);
	-moz-box-shadow:    0px 1px 7px 0px rgba(0, 51, 79, 0.75);
	-o-box-shadow:      0px 1px 7px 0px rgba(0, 51, 79, 0.75);
	box-shadow:         0px 1px 7px 0px rgba(0, 51, 79, 0.75);	
}


#loadingBar
{
	margin-top: 25px;
	width: 70%;
	position: relative;
	left: 15%;
	display: none;
}

#uploadedIMG:focus
{
	outline: 0;
}

#loadingGifUpload
{
	position: relative;
	top: 150px;
	left: 300px;
	width: 75px;
}